<div class="footer mt-auto text-center pt-3 pb-3" style="color: white; background-color: black;">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div>
            Creado por Carlos Perales © 2024 DesafioLatam. Todos los derechos reservados.
        </div>
        <div class="d-flex gap-3 align-items-center mt-2">
            <a href="https://www.facebook.com/" target="_blank" style="color: inherit;">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/" target="_blank" style="color: inherit;">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank" style="color: inherit;">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/" target="_blank" style="color: inherit;">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="nav-link p-0" href="#top" style="color: inherit;">
                <i class="fas fa-arrow-up"></i>
            </a>
        </div>
    </div>
</div>
