{% load static %}

<div class="footer mt-auto text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                Creado por Carlos Perales © 2024 DesafioLatam. Todos los derechos reservados.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center align-items-center mt-2">
                    <a href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="nav-link p-0" href="#top">
                        <i class="fas fa-arrow-up"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
