{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Crear Inmueble{% endblock %}

{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; min-height: 80vh;">
    <div class="card mb-3 p-3 mt-3" style="width: 50%">
        <div class="card-body">
            <h5 class="card-title">Crear un nuevo inmueble</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {{ field|as_crispy_field }}
                {% endfor %}

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">Crear</button>
                    <button type="reset" class="btn btn-outline-success ms-2">Limpiar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#id_region').change(function() {
            var url = "{% url 'comunas_por_region' 0 %}".slice(0, -2) + $(this).val() + '/';
            $.ajax({
                url: url,
                success: function(data) {
                    var $comuna = $('#id_comuna');
                    $comuna.find('option').remove();
                    $.each(data, function(key, value) {
                        $comuna.append('<option value="' + value.id + '">' + value.nombre + '</option>');
                    });
                }
            });
        });
    });
</script>
<style>
    textarea {
        height: 5em;  /* Ajusta el alto del cuadro de mensaje */
    }
</style>
{% endblock %}