{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Editar Inmueble{% endblock %}

{% block content %}

<div style="display: flex; flex-direction: column; align-items: center; min-height: 80vh;">
    <div class="card mb-3 p-3 mt-3" style="width: 50%">
        <div class="card-body">
            <h5 class="card-title">Editar Inmueble</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                <div id="image-fields">
                    {% for imagen in inmueble.imagenes.all %}
                        <div class="mb-3">
                            <img src="{{ imagen.imagen.url }}" alt="Imagen del inmueble" width="100">

                            <form method="post" action="{% url 'eliminar_imagen' imagen.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>

                <button type="button" class="btn btn-secondary" id="add-image">Agregar Imagen</button>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // ... (código para manejar la selección de comunas por región) ...

        // Agregar campos de imagen dinámicamente
        $("#add-image").click(function() {
            $("#image-fields").append(`
                <div class="mb-3">
                    <label for="id_imagenes-${$("#image-fields").children().length}">Imagen:</label>
                    <input type="file" name="imagenes" id="id_imagenes-${$("#image-fields").children().length}" class="form-control" required>
                </div>
            `);
        });
    });
</script>
<style>
    textarea {
        height: 5em;  /* Ajusta el alto del cuadro de mensaje */
    }
</style>
<script src="{% static 'js/modal_delete.js' %}"></script>
{% endblock %}
