{% extends 'index.html' %}
{% load static %}

{% block title %}Detalles de la Propiedad{% endblock %}

{% block content %}
<div class="container" style="display: flex; flex-direction: column; align-items: center; min-height: 80vh;">
    <div class="card mb-3 mt-3">
        <div class="row g-0">
            <div class="col-md-6">

                {% if inmueble.imagen %}

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      {% for imagen in inmueble.imagenes.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                          <img src="{{ imagen.imagen.url }}" class="d-block w-100" alt="Imagen {{ forloop.counter }} de {{ inmueble.descripcion }}">
                        </div>
                      {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Siguiente</span>
                    </button>
                  </div>
                  
                {% else %}
                <img src="{% static 'img/home_default.jpg' %}" class="img-fluid rounded-start" alt="{{ inmueble.nombre }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Descripción: {{ inmueble.descripcion }}</h5>
                    <p class="card-text">Región: {{ inmueble.comuna.region.nombre }}</p>
                    <p class="card-text">Comuna: {{ inmueble.comuna.nombre }}</p>
                    <p class="card-text">Metros² Construidos: {{ inmueble.m2_construidos }}</p>
                    <p class="card-text">Metros² Totales: {{ inmueble.m2_totales }}</p>
                    <p class="card-text">Cantidad de Estacionamientos: {{ inmueble.cantidad_estacionamientos }}</p>
                    <p class="card-text">Cantidad de Habitaciones: {{ inmueble.cantidad_habitaciones }}</p>
                    <p class="card-text">Cantidad de Baños: {{ inmueble.cantidad_banos }}</p>
                    <p class="card-text">Precio Mensual Arriendo: ${{ inmueble.precio_mensual_arriendo }}</p>
                    <div class="d-flex justify-content-end">
                    <a href="{% url 'contacto' %}?name={{ request.user.primer_nombre }}&email={{ request.user.email }}&subject=Solicitud de arriendo de la propiedad {{ inmueble.id }}&message=Hola! me interesa la propiedad {{ inmueble.id }} llamame al {{ request.user.telefono_personal }}" class="btn btn-success me-2">Solicitar Arriendo</a>                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
