/* Estilos generales */
body {
    background-color: #DFFFD5;
}

/* Estilo para el enlace del navbar */
.navbar-nav .nav-link {
    color: white;
    /* Texto inicialmente blanco */
}

/* Estilo para el enlace del navbar cuando se pasa el mouse */
.navbar-nav .nav-link:hover {
    background-color: white;
    /* Fondo blanco al pasar el mouse */
    color: black !important;
    /* Texto negro al pasar el mouse */
}

/* Estilo para los botones al final del navbar */
.navbar-nav .btn {
    color: white;
    /* Texto inicialmente blanco */
    background-color: transparent;
    /* Fondo transparente */
    border: none;
    /* Sin borde */
    margin-left: 10px;
    /* Espacio entre botones */
}

/* Estilo para los botones al pasar el mouse */
.navbar-nav .btn:hover {
    background-color: white;
    /* Fondo blanco al pasar el mouse */
    color: black !important;
    /* Texto negro al pasar el mouse */
}












/* Estilos para el carrusel */
.carrusel-inner {
    height: 100vh;
    /* Define una altura fija */
}

/* Estilos para las imágenes del carrusel */
.carousel-item img {
    height: 100%;
    object-fit: cover;
}

/* Estilos para el formulario de contacto */
textarea {
    height: 5em;
    /* Ajusta el alto del cuadro de mensaje */
}

#contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

/* Estilos para el footer */
.footer {
    color: white;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.footer a {
    color: inherit;
}

.footer i {
    margin-right: 10px;
}